snippet log
	UE_LOG(LogTemp, Log, TEXT("${0:hello world}"));
snippet logi
	UE_LOG(LogTemp, Log, TEXT("var: %d"), $0);
snippet logf
	UE_LOG(LogTemp, Log, TEXT("var: %f"), $0);
snippet logs
	UE_LOG(LogTemp, Log, TEXT("var: %s"), *$0);
snippet logv
	UE_LOG(LogTemp, Log, TEXT("var: %s"), *$0.ToString());
snippet todo
	// TODO: (loki) $0
snippet if
	if ($0) {
	}
snippet for
  for (FString* String : StringArray) {
		$0
	}
