snippet stful "stateful widget"
	class ${1:WidgetName} extends StatefulWidget {
		@override
		_$1State createState() => _$1State();
	}
snippet if
	if ($0) {
	}
snippet cl "log"
	print($0);
snippet randomtext "random text"
	Text("${Random().nextInt(99999)}"),
