snippet stful "stateful widget" b
class ${1:WidgetName} extends StatefulWidget {
	@override
	_$1State createState() => _$1State();
}

class _$1State extends State<$1> {
	@override
	Widget build(BuildContext context) {
		return Container();
	}
}
endsnippet

snippet if "if" b
if ($0) {
}
endsnippet

snippet cl "log" b
import 'package:flutter/foundation.dart';
debugPrint('Log');
endsnippet

snippet center "center" b
Center(
	child: ${VISUAL}
),
endsnippet
