snippet head "head" b
${1:HEAD}
${1/./=/g}
endsnippet

snippet subhead "subhead" b
${1:SUBHEAD}
${1/./-/g}
endsnippet

snippet /link/ "link" r
[${1:${VISUAL}}]($0)
endsnippet

snippet time "time" b
9:30 - 11:00

11:05 - 12:30

1:30 - 3:00

3:05 - 4:30

4:35 - 5:30

5:35 - capture status

Postpone
endsnippet
